@page
@model IsaksMusic.Pages.Admin.News.IndexModel

@{
    ViewData["Title"] = "News";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<!-- Show success message if any -->
@if (!string.IsNullOrEmpty(Model.Message))
{
    <script>
        window.onload = function () {

            ShowSuccessSnackbar("@Model.Message");
        }
    </script>
}

<div>
    <div class="d-flex align-items-center">
        <h3>News</h3>
        <div class="ml-auto">
            <a asp-page="Create" title="Add news entry" class="btn btn-success text-white">+ New</a>
        </div>
    </div>
    <hr />
</div>
<div>
    <label class="mr-2 text-yellow">Showing entries from:</label><input type="text" id="datepicker" value="@Model.DateFiltered">
    <div id="adminNewsEntries">
        @Html.Partial("_NewsEntries", Model.NewsEntries)
    </div>
    <div class="alert alert-warning mt-3" id="noNewsAlert" role="alert">
        No news entries could be found. Try extending the date interval.
    </div>
</div>

<div class="modal" id="newsImgModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="text-yellow" id="newsImgHeader"></h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img class="w-100" id="newsImg">
            </div>
        </div>
    </div>
</div>