@page
@model IsaksMusic.Pages.Admin.News.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<div>
    <div class="d-flex align-items-center">
        <h2>News</h2>
        <div class="ml-auto">
            <a title="Add update" class="btn btn-success text-white" asp-page="./create">+ New</a>
        </div>
    </div>
    <hr />
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger mt-3" role="alert">
            @Model.ErrorMessage
        </div>
    }
</div>

<p id="testlink">
    @Html.Raw(Model.TestLink)
</p>