@page
@model IsaksMusic.Pages.News.IndexModel
@{
    ViewData["Title"] = "News";
}

<div class="body-background">
    <div class="container" id="newsWrapper">
        <div class="wrapper-header p-0">
            <h2 class="text-dark p-2 m-0 text-center">News Feed</h2>
        </div>
        <div id="newsScroller">
            <div id="newsBlockContainer">
                @Html.Partial("_NewsBlock", Model.NewsBlock)
            </div>
            <div id="newsLoading">
                <div id="newsLoadingInner">
                    <i class="fas fa-cog fa-spin fa-2x text-yellow"></i>
                    <span class="d-block">Fetching more news...</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/news.min.js" type="text/javascript"></script>
    <script>
        if ("@Model.NewsBlock.NoMoreData" == "True") {
            noMoreData = true;
        }
    </script>
}

