<footer id="mainFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <label class="navbar-brand mb-4" asp-page="/index"><i class="fas fa-headphones fas-mr" data-fa-transform="rotate--30"></i>Isaks Music</></label>
                <div class="social-media-container">
                    <a title="Facebook" href="https://www.facebook.com/" target="_blank">
                        <span class="fa-stack fa-lg circle-social-media">
                            <i class="fas circle-facebook fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a title="Soundcloud" href="https://soundcloud.com/" target="_blank">
                        <span class="fa-stack fa-lg circle-social-media">
                            <i class="fas circle-soundcloud fa-circle fa-stack-2x"></i>
                            <i class="fab fa-soundcloud fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Navigation</h4>
                <hr />
                <ul>
                    <li><a asp-page="/sitemap" title="Sitemap">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <hr />
                <ul class="list-unstyled text-muted">
                    <li><i class="far fa-fw fa-envelope mr-2"></i>isaktoll@outlook.com</li>
                    <li><i class="fas fa-fw fa-phone mr-2"></i>+46 707371882</li>
                    <li><i class="fas fa-fw fa-globe mr-2"></i>Märsta, Sweden</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer id="subFooter">
    <div class="container">
        <span class="text-muted">Copyright © 2018 Isaks Music</span>
    </div>
</footer>