@page
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="body-background body-background-dark">
    <div class="container">
        <div id="aboutWrapper">
            <section>
                <h2>Biography</h2>
                <div class="row" id="aboutBio">
                    <div class="col-md-4 mb-4">
                        <img class="img-fluid" src="~/images/about-profile.jpg" alt="Isak Toll" title="Isak Toll" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere dui sit amet commodo efficitur. Morbi euismod ornare nunc, nec efficitur augue eleifend quis. Etiam facilisis augue id mi aliquam mattis. In tristique at dui elementum lacinia. Suspendisse bibendum bibendum congue. Ut et magna nibh. Pellentesque felis augue, fringilla ut aliquam nec, egestas in arcu. Sed ipsum lacus, suscipit scelerisque ex ut, convallis auctor dui. Nulla vitae mi ac nibh pellentesque imperdiet vestibulum ac massa. Nam convallis interdum nunc, ut hendrerit justo facilisis id. Nam nec dolor feugiat massa facilisis aliquet non sed est.
                            <br /><br />
                            Mauris nibh est, molestie eu cursus vitae, tincidunt vitae massa. Integer varius odio euismod, feugiat diam nec, semper metus. Donec nec quam ligula. Duis fringilla lorem eget feugiat laoreet. Vivamus efficitur fringilla lacus, in hendrerit massa luctus vulputate. Integer id ante blandit, laoreet magna in, ultrices justo. Nulla ultrices leo nisi. Aenean eu eleifend eros.
                            <br /><br />
                            Maecenas in malesuada augue. Sed porta, quam sit amet tincidunt ornare, ex turpis congue sem, id malesuada nulla felis ac lectus. Ut placerat sem quis ligula laoreet sagittis. In et elit sollicitudin, porttitor felis ac, dignissim metus. Praesent a ante vitae metus tempor laoreet. Sed placerat mattis quam quis malesuada. Aenean lacinia, tortor eget consectetur cursus, erat leo vehicula lorem, vitae lacinia neque purus sodales odio. Sed laoreet magna sed sapien tempus commodo.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <h2>The Journey</h2>
                <div class="row" id="aboutJourney">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-image">
                                        <img class="rounded-circle img-fluid" src="~/images/news-default.jpg">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>2012-2014</h4>
                                            <h4 class="subheading">The Beginning</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">
                                                I started to become interested about music producing, and I didn’t know where to start.
                                                But I had a good friend of mine who was quite experienced in producing, so he advised me to get a copy of FL Studio 10, because it was was rather user friendly compared to other software.
                                                I started learning the basics within the software by myself, because I could not afford to take lessons.
                                                YouTube provided me with loads of different beginner tutorials to learn the basics.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <img class="rounded-circle img-fluid" src="~/images/news-default.jpg" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>2014-2015</h4>
                                            <h4 class="subheading">Moving Forward</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">
                                                After graduating from high school, I had a lot more time to spend on music.
                                                I have always had a broad selection of music that I listen to and admire, but back in 2014 I had a little extra passion for electronic music, especially house music. 
                                                I started experimenting a lot with sound design in synths, which I found really hard. 
                                                But soon I learned a lot through various tutorials on YouTube again, it’s crazy how much stuff you can learn just by watching another producers work. 
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-image">
                                        <img class="rounded-circle img-fluid" src="~/images/news-default.jpg" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>2015-2017</h4>
                                            <h4 class="subheading">The Shift</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">
                                                I started transitioning from the world of electronic music into the world of rap and Hip-Hop.
                                                I became more and more interested in working in other environments and made the decision to purchase a Mac to start working with Logic Pro X.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <img class="rounded-circle img-fluid" src="~/images/news-default.jpg" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>2018</h4>
                                            <h4 class="subheading">Present Day</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">
                                                Throughout the years I've learned a great deal of techniques and I'm currently working a lot with sampling and vocals. 
                                                I've got a few upcoming projects of which some features rap vocalists.
                                                I intend to start creating my vocals in the near future. 
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <h4>
                                            Be Part
                                            <br>Of My
                                            <br>Journey!
                                        </h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $('.timeline-image').on('mouseover', function () {

            var panel = $(this).parent().children('.timeline-panel');

            $(panel).css('transform', 'translateY(-10%)');
        });

        $('.timeline-image').on('mouseleave', function () {

            var panel = $(this).parent().children('.timeline-panel');

            $(panel).css('transform', 'scale(1.0)');
        });

    </script>
}

