@page
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Pages/_Layout.cshtml";
}

<section class="body-background">
    <div class="container misc-container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-dark p-3">
                    <h3 class="text-yellow">Frequently Asked Questions (FAQ)</h3>
                    <hr />
                    <p class="text-muted">Last updated: May 28, 2018</p>
                    <h5 class="text-yellow">Question 1?</h5>
                    <p>Answer 1</p>
                    <h5 class="text-yellow">Question 2?</h5>
                    <p>Answer 2</p>
                    <h5 class="text-yellow">Question 3?</h5>
                    <p>Answer 3</p>
                    <h5 class="text-yellow">Question 4?</h5>
                    <p>Answer 4</p>
                    <h5 class="text-yellow">Question 5?</h5>
                    <p>Answer 5</p>
                </div>
            </div>
        </div>
    </div>
</section>

