@page
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Pages/_Layout.cshtml";
}

<section class="body-background">
    <div class="container misc-container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-dark p-3">
                    <h3 class="text-yellow">Frequently Asked Questions (FAQ)</h3>
                    <hr />
                    <p class="text-muted">Last updated: May 28, 2018</p>
                    <h5 class="text-yellow">Which DAW are you using for your productions?</h5>
                    <p>I use Logic Pro X for mixing/mastering, and also for vocal processing. But when it comes to programming beats, sampling and sound design, I mostly use FL Studio. It depends on what type of project I’m working on. </p>
                    <h5 class="text-yellow">What are your favourite VST’s? </h5>
                    <p>
                        Before going into specifics - I can start off by saying that pretty much everything from Universal Audio, Fabfilter, Izotope and Waves are fantastic!
                        But all the software from those companies are quite expensive, so I would recommend doing a little bit of research on different plugins from those companies to find out what suits your needs.<br /><br /> 
                        My favourite compressor is the Fabfilter Pro-MB, a great multiband compressor to make sure that different sections of the frequency spectrum are held in place.
                        My favourite limiter is the Izotope Maximizer, it’s a versatile limiter with loads of options. My favourite equalizer is no surprise - it’s the Fabfilter Pro Q 2, pretty much every known producer have heard about this equalizer, it does not need an introduction.<br /> <br />
                        When it comes to saturating and warming up sounds, I would either go with the J37 or the Kramer Master Tape from Waves, but the Fabfilter Saturn is really sweet aswell. You’re probably wondering about reverb and delay effects, and those are spelled Valhalla, it’s really hard to beat Valhalla Room or Valhalla VintageVerb!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

