@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Scroll back to contact form if postback failed -->
@if (Model.PostbackFailed)
{
    <script>
        window.onload = function () {

            scrollToContactForm();
        }
    </script>
}

<!-- Show success message if any -->
@if (!string.IsNullOrEmpty(Model.Message))
{
    <script>
        window.onload = function () {

            ShowSuccessSnackbar("@Model.Message");
        }
    </script>
}

<header id="topHeader">
    <div class="container intro-text">
        <h1>Welcome to <span class="text-yellow font-weight-bold navbar-brand">Isak's Music</span></h1>
        <br />
        <p class="mb-5">Listen to music, check out upcoming projects and tune in to the latest news.</p>
        @if (Model.Featured == null)
        {
            <a class="btn btn-dark" title="Start listening" asp-page="/music/index" asp-route-autoplay="true">Start listening<i class="fas fa-play ml-2"></i></a>
        }
        else
        {
            <a title="Featured Track" asp-page="music/track" asp-route-id="@Model.Featured.SongId" id="featuredSongContainer" class="alert alert-dark">
                <span><span><strong class="text-uppercase"><i class="fas fas-mr fa-fire"></i>Featured - </strong></span><span>@Model.Featured.Title</span></span>
            </a>
        }
    </div>

    <i id="scrollIndicator" class="fas fa-chevron-down fa-3x"></i>
</header>
<section class="section-odd"></section>
<section class="section-even">
    <div class="container" id="aboutContainer">
        <div class="row">
            <div class="col-md-4">
                <img alt="Isak Toll" title="Isak Toll" class="img-fluid" src="~/images/about-profile.jpg" />
            </div>
            <div class="col-md-8">
                <div>
                    <div class="d-inline-flex">
                        <h4><span class="text-yellow font-weight-bold text-shadow">About me</span></h4>
                    </div>
                    <hr />
                    <br />
                    <p>I started experimenting with beat-making in FL Studio about five years ago, everything I did was obviously really bad in the start, but with the vast numbers of tutorials on YouTube, the advance was really quick!</p>
                    <p>For now I'm mostly orienting myself with rap/trap type of beats, but I love doing more electronic-based stuff as well!</p>
                    <div id="aboutContactContainer">
                        <div id="socialLinks">
                            <div class="social-media-container mt-3 mb-3">
                                <a class="mr-2" title="Facebook" href="https://www.facebook.com/" target="_blank">
                                    <span class="fa-stack circle-social-media">
                                        <i class="fas circle-facebook fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a title="Soundcloud" href="https://soundcloud.com/" target="_blank">
                                    <span class="fa-stack circle-social-media">
                                        <i class="fas circle-soundcloud fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-soundcloud fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="ml-auto" id="contactInfo">
                            <ul class="list-unstyled text-muted m-0">
                                <li><i class="far fa-fw fa-envelope mr-2"></i>example@mail.com</li>
                                <li><i class="fas fa-fw fa-mobile-alt mr-2"></i>+46 707371882</li>
                                <li><i class="fas fa-fw fa-globe mr-2"></i>Märsta, Sweden</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-odd">
    <div class="container" id="infoContainer">
        <div class="row text-center">
            <div class="col-md-4 mb-3">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa-stack-1x fas fa-music fa-inverse"></i>
                </span>
                <h4>Music</h4>
                <p class="text-muted ">
                    Feel free to check out my latest music, listen to new songs, and find out about upcoming projects!
                </p>
            </div>
            <div class="col-md-4 mb-3">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa-stack-1x fas fa-laptop fa-inverse"></i>
                </span>
                <h4>Production</h4>
                <p class="text-muted">
                    Are you interested in the technical side of things? What gear am I using? Specific techniques? Come and take a look!
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fa-stack-1x fas fa-mobile-alt fa-inverse"></i>
                </span>
                <h4>On the go</h4>
                <p class="text-muted">
                    This website is designed with portable devices in mind, so you can tune in to the latest music and updates wherever you are!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-even">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="contactForm">
                <div class="row">
                    <div class="col-md-10">
                        <h4><span class="text-yellow">Contact me</span></h4>
                        <p>Fill out the form below to send me a message.</p>
                    </div>
                    <div class="col-md-2">
                        <i class="far fa-envelope fa-4x"></i>

                    </div>
                </div>
                <hr />
                <form class="form" method="post">
                    <div class="form-group">
                        <label asp-for="Contact.FirstName">First Name:</label>
                        <input asp-for="Contact.FirstName" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Contact.FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.LastName">Last Name:</label>
                        <input asp-for="Contact.LastName" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Contact.LastName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Email">Email Address:</label>
                        <input asp-for="Contact.Email" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Contact.Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact.Message">Message:</label>
                        <textarea asp-for="Contact.Message" class="form-control"></textarea>
                        <span asp-validation-for="Contact.Message"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" title="Send">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Back to Top Button -->
<button onclick="scrollToTop()" id="backToTopBtn" title="Back to Top"><i class="fas fa-chevron-up fa-lg"></i><span id="backToTopText">Top</span></button>

<!-- Locked Out -->
@if (TempData["UserLockedOut"] != null)
{
    if (!string.IsNullOrEmpty(TempData["UserLockedOut"].ToString()))
    {
        <div class="container fixed-alert">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Your account has been locked out.</strong> Please try again later.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    }
}
