@page
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Pages/_Layout.cshtml";
}

<section class="body-background">
    <div class="container misc-container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-dark p-3">
                    <h3 class="text-yellow">Privacy Policy</h3>
                    <hr />
                    <p class="text-muted">Last updated: May 31, 2018</p>
                    <h6 class="text-white">What information do we collect?</h6>
                    <p class="text-muted">We may collect and process data about your use of the website ("usage data"). This usage data may include page views, website navigation paths as well as music patterns.</p>
                    <p class="text-muted">We do not process or use any data linked to or associated with Facebook or any other social media plugins currently being used on the website.</p>
                    <h6 class="text-white">What do we use your information for?</h6>
                    <p class="text-muted">The collected data may be used in the following ways:</p>
                    <ul class="bullet-list text-muted">
                        <li class="bullet-list-item">To produce statistics about which pages that are being visited.</li>
                        <li class="bullet-list-item">To produce statistics about the frequency of which songs and/or tracks are being played.</li>
                        <li class="bullet-list-item">To produce statistics about news and updates readers.</li>
                    </ul>
                    <h6 class="text-white">About Cookies</h6>
                    <p class="text-muted">A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
                    <p class="text-muted">Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a browser and will remain valid until its predetermined expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the browser is closed.</p>
                    <h6 class="text-white">Do we use cookies?</h6>
                    <p class="text-muted">We do not use any cookies that affects our users.</p>
                    <p class="text-muted">However, this website uses Facebook social plugins which may use various cookies for their respective purpose. Visit <a href="https://www.facebook.com/policies/cookies/">Facebook</a> for more information about the cookies they use.</p>
                    <h6 class="text-white">Do we disclose any information to outside parties?</h6>
                    <p class="text-muted">We do not sell, trade or otherwise transfer any collected data or information to outside parties.</p>
                    <h6 class="text-white">Terms of Service</h6>
                    <p class="text-muted">Please also read our <a asp-page="/tos">Terms of Service</a> for information about the use of Isak's Music.</p>
                    <h6 class="text-white">Your Consent</h6>
                    <p class="text-muted">By using our site, you consent to our privacy policy.</p>
                    <h6 class="text-white">Changes to our Privacy Policy</h6>
                    <p class="text-muted">We reserve the right to change our Privacy Policy. This page was last updated May 31, 2018</p>
                    <h6 class="text-white">Contacting Us</h6>
                    <p class="text-muted">If you have any questions regarding the Privacy Policy you may contact Isak Toll at the following email address:</p>
                    <p><span class="text-yellow">isaktoll@live.se</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

