@page
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Pages/_Layout.cshtml";
}

<section class="body-background">
    <div class="container misc-container">
        <h3>Privacy Policy</h3>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="bg-dark p-3">
                    <h3 class="text-yellow">Privacy Policy</h3>
                    <hr />                    
                </div>
            </div>
        </div>
    </div>
</section>

