@page
@{
    ViewData["Title"] = "Sitemap";
    Layout = "~/Pages/_Layout.cshtml";
}

<section class="body-background">
    <div class="container misc-container">
        <h3>Sitemap</h3>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-dark">
                    <div class="card-header">
                        Isaks Music
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a asp-page="/index" title="Home">Home</a></li>
                        <li class="list-group-item"><a asp-page="/music/index" title="Music">Music</a></li>
                        <li class="list-group-item"><a asp-page="/news/index" title="News">News</a></li>
                        <li class="list-group-item"><a asp-page="/" title="Terms and Conditions">Terms and Conditions</a></li>
                        <li class="list-group-item"><a asp-page="/" title="Frequently Asked Questions">FAQ</a></li>
                        <li class="list-group-item"><a asp-page="/" title="About">About</a></li>
                    </ul>                
                </div>
            </div>            
        </div>
    </div>
</section>

