@page
@{
    ViewData["Title"] = "Sitemap";
    Layout = "~/Pages/_Layout.cshtml";
}

<section class="body-background">
    <div class="container misc-container">
        <h3>Sitemap</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h4 class="text-dark">Isak's Music</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a asp-page="/index" title="Home">Home</a></li>
                        <li class="list-group-item"><a asp-page="/music/index" title="Music">Music</a></li>
                        <li class="list-group-item"><a asp-page="/news/index" title="News">News</a></li>
                        <li class="list-group-item"><a asp-page="/privacy" title="Privacy Policy">Privacy Policy</a></li>
                        <li class="list-group-item"><a asp-page="/tos" title="Terms of Service">Terms of Service</a></li>
                        <li class="list-group-item"><a asp-page="/faq" title="Frequently Asked Questions">Frequently Asked Questions (FAQ)</a></li>
                    </ul>                
                </div>
            </div>            
        </div>
    </div>
</section>

