@page
@model IsaksMusic.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

<h2>Dashboard</h2>
<hr />

<div class="text-center p-3">
    <ul>
        <li>@Model.SignedInUser.Email</li>
        <li>@Model.SignedInUser.Username</li>
    </ul>
</div>

