@page
@model IsaksMusic.Pages.Admin.Music.SongsModel
@{
    ViewData["Title"] = "Songs";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<div class="text-center">
    <h2>Songs</h2>
    <hr />
</div>
<div>
    <a class="btn btn-success text-white">Add song</a>
</div>


