@primary-text-color: #ffc600;
@secondary-text-color: #ffffff;
@error-text-color: #e43636;

@primary-bg-color: #0a0a0a;
@secondary-bg-color: #111;
@black-bg-color: #040404;

/*#region Global */
body {
    font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: @primary-bg-color;
}

.body-background {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../images/city-clouds.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #999;
}

.text-yellow {
    color: @primary-text-color !important;
}

.text-muted {
    color: #9a9a9a !important;
}

a {
    color: @secondary-text-color;
    text-decoration: none;
    outline-color: #ffc600;
}

a:not(.btn):hover {
    color: @primary-text-color !important;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: @secondary-text-color;
}

h1, h2, h3, h4, p {
    color: @secondary-text-color;
}

p {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

label {
    color: @secondary-text-color;
}

input {
    margin-bottom: 5px;
    color: @secondary-text-color;
    outline: none;
}

input[type="file"].file-valid {
    color: green;
}

[data-toggle=buttons] > .btn input[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

textarea {
    min-height: 60px;
    max-height: 500px;
    height: 100px;
}

textarea.textarea-sm {
    height: 60px;
}

.fas-mr {
    margin-right: 5px;
}

.fa-rotate {
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.fa-rotate.down {
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.btn-dark {
    background-color: @primary-bg-color;

    &:hover {
        background-color: @secondary-bg-color;
    }

    &:focus {
        box-shadow: none;
        background-color: @secondary-bg-color;
    }

    &:active {
        background-color: @secondary-bg-color;
    }
}

.btn-link {
    cursor: pointer;

    &:hover {
        color: @primary-text-color;
    }
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-divider {
    border-color: rgba(255, 255, 255, 0.1);
    margin: 0;
}

/* Bootstrap Select */

.bootstrap-select li.selected a {
    color: @primary-text-color;
}

ul, ol {
    padding: 0;
}

li {
    list-style: none;
}

.table {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

table th {
    color: @secondary-text-color;
}

.table th, .table td {
    padding: 0.4rem 0.6rem;
}

.table-btn {
    margin: 0 5px;
}

.modal-content {
    background-color: @secondary-bg-color;
    padding: 15px;
}

.modal-header {
    border: none;
    align-items: center;
}

button[data-dismiss="modal"] {
    color: @error-text-color;

    &:hover {
        color: @error-text-color;
    }
}

.field-validation-error, .validation-summary-errors, .input-validation-error {
    color: @error-text-color;
    margin-top: 5px;
}

.fixed-alert {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.alert-dismissible {
    width: 100%;
}

.navbar-brand {
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    color: @primary-text-color !important;
    letter-spacing: 2px;
    font-size: 1.65rem;
    margin: 0 0 10px 0;
    padding: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.dropdown-menu {
    background-color: @primary-bg-color;
    border: 1px solid @primary-text-color;
    min-width: 250px;
    max-width: 300px;
    max-height: 150px;
    padding: 5px;
}

.dropdown-menu-borderless {
    border: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 0px;
}

.dropdown-item {
    color: @secondary-text-color;
    cursor: pointer;
    padding: 0 1rem;
}

.dropdown-item:hover {
    background-color: @secondary-bg-color;
}

.wrapper-header {
    background: #222222;
    background: -moz-linear-gradient(top, rgb(255, 198, 0) 0%, #c99b00 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255, 198, 0)), color-stop(100%, #c99b00));
    background: -o-linear-gradient(top, rgb(255, 198, 0) 0%, #c99b00 100%);
    background: linear-gradient(to bottom, rgb(255, 198, 0) 0%, #c99b00 100%);
    text-align: center;
    padding: 10px 0;
    height: auto;
}

#adminSidemenuCollapse {
    color: @secondary-text-color;
    cursor: pointer;

    &:hover {
        color: @primary-bg-color !important;
    }
}

.wrapper-header-left {
    padding-left: 20px;
    position: absolute;
}

.wrapper-body {
    display: flex;
    align-items: stretch;
    background-color: @primary-bg-color;
    min-height: 500px;
}

.wrapper-content {
    width: 100%;
    position: relative;
    background-color: @secondary-bg-color;
    padding: 30px;
    max-height: 700px;
    overflow-x: auto;
}
/* Side menu collapse */
.side-menu-collapse {
    z-index: 3;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: @secondary-bg-color;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    transition: width .5s;
}

#sideMenuImgContainer {
    text-align: center;
    padding: 20px;
}

.side-menu-header {
    padding: 20px;
    text-align: center;
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
/* Side menu links */
.side-menu-collapse .list-group {
    min-width: 180px;
}

.side-menu-collapse .list-group .list-group-item {
    border-radius: 0;
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-color: rgba(255, 255, 255, 0.1);
    white-space: nowrap;

    &:hover {
        color: @primary-text-color;
        border-left: thick solid @primary-text-color;
    }
}

.side-menu-collapse .list-group .list-group-item.active {
    color: @primary-text-color;
    border-left: thick solid @primary-text-color;
}

.tooltip {
    font-weight: 600;
}

.tooltip .tooltip-inner {
    background-color: @primary-text-color;
    color: @black-bg-color;
}

.tooltip .arrow::before {
    border-top-color: @primary-text-color;
}

/*#endregion */

/*#region Error Pages */
.error-section {
    text-align: center;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.denied-section {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(#3a1919, @secondary-bg-color 60%);
}

.denied-section img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
}

.page-not-found-section {
    background: radial-gradient(#192d3a, @secondary-bg-color 60%);
}

.error-section h1 {
    font-size: 10rem;
    margin-bottom: 40px;
}

.error-section li {
    display: inline-block;
}

.error-container {
    display: table-cell;
    vertical-align: middle;
}

.error-section li + li {
    border-left: 1px solid @secondary-text-color;
    padding-left: 0.3em;
}
/*#endregion */

/*#region Snackbars */
#snackbar-success {
    visibility: hidden;
    min-width: 300px;
    background-color: #064308;
    color: #fff;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}

#snackbar-success.show {
    visibility: visible;
    -webkit-animation: fadein 1.5s, fadeout 1.5s 2.5s;
    animation: fadein 1.5s, fadeout 1.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 10%;
        opacity: 0;
    }

    to {
        bottom: 15%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 10%;
        opacity: 0;
    }

    to {
        bottom: 15%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 15%;
        opacity: 1;
    }

    to {
        bottom: 15%;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 15%;
        opacity: 1;
    }

    to {
        bottom: 15%;
        opacity: 0;
    }
}
/*#endregion */

/*#region Top Navbar */
#mainNav {
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}

#mainNav.navbar-shrink {
    background-color: @black-bg-color;
    padding-top: 20px;
    padding-bottom: 10px;
}

#mainNav.navbar-shrink .navbar-brand {
    font-size: 1.35em;
}

.navbar-dark .navbar-nav .nav-link {
    color: @secondary-text-color;
}

#mainNav .dropdown-menu .dropdown-item {
    padding: 10px 20px;
}
/*#endregion */

/*#region Bottom Footer */
footer {
    bottom: 0;
}

#mainFooter {
    bottom: 0;
    min-height: 200px;
    background-color: @black-bg-color;
    padding: 30px;
}

#mainFooter .col-md-4 {
    margin-top: 30px;
}

#mainFooter li a {
    border-left: 3px solid rgba(0,0,0,0);

    &:hover {
        border-left: 3px solid @primary-text-color;
        padding-left: 5px;
    }
}

#subFooter {
    height: 60px;
    line-height: 60px;
    background-color: @primary-bg-color;
    text-align: center;
}
/*#endregion */

/*#region Top Header */
#topHeader {
    background: linear-gradient(rgba(0, 0, 0, 0.3), #0a0a0a), url(../images/bg-header.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    color: @secondary-text-color;
}
/*#endregion */

/*#region Sections */
section {
    padding: 100px 0;
    height: auto;
}

.section-odd {
    background-color: @primary-bg-color;
}

.section-even {
    background-color: @secondary-bg-color;
}
/*#endregion */

/*#region Index */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #208938;
    color: @secondary-text-color;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    &:hover {
        background-color: #1c7831;
    }

    &:hover #backToTopText {
        display: block;
    }
}

#backToTopText {
    display: none;
    font-size: 0.9em;
}

#scrollIndicator {
    color: @primary-text-color;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}

.social-media-container a:hover {
    opacity: 0.7;
}
/*#endregion */

/*#region Index About Me */
#aboutContainer {
    text-align: center;
}

#aboutContainer img {
    max-height: 350px;
}

.circle-social-media {
    font-size: 1.7em !important;
}

.circle-facebook {
    color: #3b5998;
}

.circle-soundcloud {
    color: #f50;
}
/*#endregion */

/*#region Index Website Info */
#infoContainer h4 {
    margin: 15px 0;
}

#infoContainer .fa-stack {
    color: @primary-bg-color;
}

#infoContainer .fa-inverse {
    color: @primary-text-color;
}
/*#endregion */

/*#region Contact Form */
#contactForm {
    background: @secondary-bg-color;
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

#contactForm label {
    color: @secondary-text-color;
}
/*#endregion */

/*#region Sitemap */
#sitemapContainer {
    margin-top: 50px;
    padding: 20px;
}

#sitemapContainer .card {
    border-color: @primary-text-color;
    margin: 15px 0;
}

#sitemapContainer .card-header {
    background-color: @primary-text-color;
    font-size: 1.0em;
}

#sitemapContainer li {
    background-color: @secondary-bg-color;
    font-size: 1.0em;
}
/*#endregion */

/*#region Login */
#loginForm {
    margin: 100px auto;
    padding: 50px;
    background-color: @secondary-bg-color;
    max-width: 600px;
    width: 400px;
    text-align: center;
}
/*#endregion */

/*#region Admin */
#adminLayoutWrapper {
    padding: 175px 0;
    min-height: 600px;
}

#songTable {
    margin: 30px 0;
    border-collapse: collapse !important;
}

#songTable td:last-child {
    text-align: center;
}

#songTable .dropdown-menu .dropdown-item {
    padding: 0.7rem 1rem;
}

#categoryList {
    margin-top: 30px;
}

#categoryList ul {
    color: @secondary-text-color;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

.category-list-item {
    padding: 10px 20px;
}

.list-item-editable[contenteditable="true"] {
    outline: 2px solid @primary-text-color;
    outline-offset: 5px;
}

.category-amount {
    margin-left: 5px;
    font-size: 0.9rem;
    letter-spacing: 2px;
}
/*#endregion */

/*#region Music */

#musicBackground {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../images/bg-header.jpg);
}

#musicWrapper {
    padding: 175px 0;
}

#waveformContainer {
    background: -moz-radial-gradient(#2c1d33, black);
    background: -webkit-radial-gradient(#2c1d33, black);
    background: radial-gradient(#2c1d33, black);
    padding: 30px 0;
}

#waveformContainer .btn-dark {
    background-color: transparent;
    border-radius: 0;

    &:hover {
        color: @secondary-text-color;
        border-color: #343a40;
    }

    &.active {
        color: @primary-text-color;
        border-color: @primary-text-color;
    }
}

#waveformInner {
    max-width: 80%;
    margin: auto;
}

#waveform {
    margin: auto;
}

#waveformCounter, #waveformDuration {
    color: @primary-text-color;
    font-size: 1.2rem;
}

.tooltip-track {
    position: absolute;
    display: none;
    background: @primary-bg-color;
    color: @secondary-text-color;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1000;
}

#waveformControls {
    margin-top: 20px;
    align-items: center;
    padding: 10px 20px;
}

.pulse {
    background-color: rgba(0, 0, 0, 0.5);
}

.pulse .btn-dark {
    border-color: #ffffff;
}

.flex-group-item {
    flex: 1;
    display: flex;
}

#waveformControls .flex-group-item:not(.justify-content-center) .btn-dark {
    width: 45px;
    height: 40px;
}

#waveformContainer .flex-group-item:not(.justify-content-center) .btn-dark .fas {
    font-size: 1rem;
}

.flex-group-item-last {
    justify-content: flex-end;
}

#volume-dropdown {
    padding: 15px;
    min-width: 190px;
}

#volumeControl {
    width: auto;
    max-width: 150px;
    display: flex;
    margin: auto;
    align-items: center;

    i {
        color: #666;
    }

    i.fa-volume-off {
        margin-right: 15px;
    }

    i.fa-volume-up {
        margin-left: 15px;
    }
}

#volumeSlider {
    margin: 0 auto;
    height: 5px;
    width: 100%;
    background: #555;
    border-radius: 15px;
    border: none;

    .ui-slider-range-min {
        height: 5px;
        width: 300px;
        position: absolute;
        background: @primary-text-color;
        border: none;
        border-radius: 10px;
        outline: none;
    }

    .ui-slider-handle {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #FFF;
        position: absolute;
        margin-left: -8px;
        margin-top: -4px;
        cursor: pointer;
        outline: none;

        &.ui-state-active {
            border-color: #ffffff;
        }
    }
}



#songListContainer {
    background-color: @primary-bg-color;
    margin-top: 50px;
}

#songListHeader {
    text-align: center;
    padding: 20px 0 10px 0;
}

#songListControls {
    margin: 10px 20px;
}

#songListFiltersBtn.filter-active {
    color: @primary-text-color;
    background-color: @primary-bg-color;
}

#songListFilters {
    border: 1px solid rgba(255,255,255, 0.1);
    color: @secondary-text-color;
}

#songListFiltersInner {
    padding: 20px;
}

#songListFooter {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

.song-container {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    display: flex;
    align-items: center;

    &:hover {
        background-color: @secondary-bg-color;
    }
}

.song-info {
    cursor: pointer;
    width: 100%;
}

.song-info-inner {
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    text-align: center;
}

.song-actions {
    margin: 0 10px;
}

#musicTable {
    border: 1px solid rgba(255,255,255,0.1);
}

#musicTable tr {
    background-color: @primary-bg-color;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: @secondary-text-color;
}

#musicTable tbody tr:hover {
    background-color: @secondary-bg-color;
}

#musicTable tr:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#musicTable th {
    border: none;
}

#musicTable td {
    border-color: rgba(255,255,255, 0.1);
    color: inherit;
    font-weight: inherit;
    width: auto;
}

#musicTable td.min {
    width: 1%;
    white-space: nowrap;
}

#musicTable .song-active {
    color: @primary-text-color;
    font-weight: 800;
}

#musicTable tr .is-playing {
    opacity: 0;
}

#musicTable tr.song-active .is-playing {
    opacity: 1;
}

/*#endregion */

/*#region Tracks */

#trackWrapper {
    padding: 175px 0;
}

#trackWrapperInner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/city-clouds.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#trackWrapper #songPlayingTitle, #trackWrapper #songPlayingCategories {
    display: none;
}

#trackWrapper #waveformContainer {
    background: none;
}

#trackWrapper #waveformControls {
    padding: 0;
}

#trackContainer {
    padding: 30px;
}

#trackHeader {
    text-align: center;
    margin-bottom: 40px;
}

#trackBody p {
    font-size: 14px;
}

#collapseDescriptionBtn {
    display: none;
}

#trackDescription p.collapse:not(.show) {
    height: 85px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#trackDescription p.collapsing {
    min-height: 85px !important;
}

#trackDescription a.collapsed:after {
    content: '+ Read More';
}

#trackDescription a:not(.collapsed):after {
    content: '- Read Less';
}

#randomTrack {
    top: 20px;
    right: 30px;
    position: absolute;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

/*#endregion */

/*#region Media Queries  */

@media (max-width: 1199px) {

    #songTable, #songTable thead, #songTable tbody, #songTable th, #songTable td, #songTable tr {
        display: block;
    }

    #songTable {
        background: none;
    }

    #songTable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #songTable tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    #songTable tr:nth-of-type(odd) {
        background-color: transparent;
    }

    #songTable td {
        border: none;
        position: relative;
    }

    #songTable td .info-circle {
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #songTable td:before {
        padding-right: 10px;
        font-weight: bold;
        font-size: 1.2rem;
        color: @primary-text-color;
        display: block;
    }

    #songTable td:nth-of-type(1):before {
        content: "Title";
    }

    #songTable td:nth-of-type(2):before {
        content: "Length";
    }

    #songTable td:nth-of-type(3):before {
        content: "Category";
    }

    #songTable td:nth-of-type(4):before {
        content: "Upload date";
    }

    #songTable td:nth-of-type(5):before {
        content: "File path";
    }

    #songTable td:last-child {
        text-align: left;
    }
}

@media (min-width: 1199px) {

    #musicWrapper .btn-dark:hover, #trackWrapper .btn-dark:hover {
        color: @primary-text-color;
        border-color: @primary-text-color;
    }
}

@media (max-width: 991px) {

    #socialLinks, #contactInfo {
        width: 100%;
        max-width: 100%;
        flex: 100%;
        text-align: center;
    }

    #mainNav {
        background-color: @black-bg-color;
    }

    .navbar-collapse {
        border-bottom: 2px solid rgba(255, 215, 0, 0.65);
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) {

    #musicWrapper #waveformContainer {
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
    }

    #trackWrapperInner {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.55);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.55);
    }
}

@media (max-width: 767px) {

    section {
        padding: 50px 0;
    }

    .side-menu-collapse {
        width: 70px;
    }

    .side-menu-header {
        display: none;
    }

    .side-menu-collapse .list-group {
        min-width: 70px;
        overflow: visible;
        min-height: 100%;
    }

    #waveformInner {
        max-width: 90%;
    }

    #musicTable th.dismissable, #musicTable td.dismissable {
        display: none;
    }
}

@media (min-width: 768px) {

    #aboutContainer {
        text-align: left;
    }

    #musicTableContainer {
        padding: 20px;
    }

    #songListFilters {
        margin: 0 20px;
    }

    #trackContainer {
        border-left: 1px solid rgba(255,255,255,0.1);
    }
}

@media (max-height: 767px) {

    .intro-text {
        padding-top: 200px;
        padding-bottom: 100px;
    }
}

/*#endregion */
